{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Story-9</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    </head>
    <body>
        <div class="container mt-5">
            <br><br>
            <div class="col-md-6 m-auto">
                <h1 class="text-center mb-3">
                    Book Finder
                </h1>
                
                <h4 class="text-center mb-3">
                    by jerome
                </h4>

                <div class="form-group">
                    <input id="search" class="form-control form-control-lg mb-3" placeholder="Title or Author...">
                    <!-- <button id="button" class="btn btn-primary col-md-3 m-auto mb-5" type="button">search</button> -->
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="topbooks()" id="modals">
                    Favourite
                  </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Most Liked Books</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              
                
                <div id="rslt" class="text-center"></div>
                <!-- <div class="row">
                    <div id="thumbnail" class="col-sm mb-3">
                    </div>
                    <div id="results" class="col-sm">
                    </div>
                </div> -->

                
                
                
            </div>
        </div>
        
        <div class="container">
            <div class="result">
              <table id="demo" class="table">
                <thead class="table">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Cover</th>
                    <th>Publisher</th>
                    <th>Published Date</th>
                    <th>Likes</th>
                  </tr>
                </thead>
                <tbody id="content"></tbody>
              </table>
            </div>
          </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% static 'myapp/js/main2.js' %}"></script>
    </body>
</html>